<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title
      ><b><h1>Profile</h1></b></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Ini buat Card Profile -->
  <ion-card>
    <ion-col>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <div class="imageProfil">
            <img
              src="../../assets/image/d1d9c0a0-476b-4248-a64b-bac9db2a9d0b.png"
              alt=""
            />
          </div>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-card-header>
      <div class="ion-text-center">
        <ion-card-title class="ion-justify-content-center"
          ><ion-card-title
            ><h1><b>Profil User</b></h1></ion-card-title
          ></ion-card-title
        >
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="ion-text-center">
        <ion-card-title class="ion-justify-content-center"
          ><strong><b>Ariansyah Aryo Prasetio</b></strong>
          <br />
          <strong>Mahasiswa</strong>
          <br />
          <a href="https://www.instagram.com/aryo_2704/">
            <ion-icon name="logo-instagram"></ion-icon>
            @aryo_2704
          </a>
          <br />
          <a
            href="https://www.facebook.com/profile.php?id=100049182591116&mibextid=ZbWKwL"
          >
            <ion-icon name="logo-facebook"></ion-icon>
            Orion
          </a>
        </ion-card-title>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- End Card Profile -->
  <ion-button shape="round" [routerLink]="['/home']">Menuju Home</ion-button>
</ion-content>
