<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Button back -->
  <div class="container">
    <h1><strong>Login</strong></h1>
    <ion-input
      type="text"
      [(ngModel)]="username"
      label="Username"
      labelPlacement="floating"
    />
    <br />
    <ion-input
      label="Password"
      labelPlacement="floating"
      type="password"
      [(ngModel)]="password"
    />
    <ion-button
      (click)="checkLoginAuth
        ()"
      >Login</ion-button
    >
    <!-- <ion-button shape="round" [routerLink]="['/login']">Menuju Login</ion-button> -->
    <!-- <ion-button shape="round" [routerLink]="['/mygallery']"
        >Menuju Gallery</ion-button
      > -->
    <!-- <p>Klik <a [routerLink]="['/home']">Masuk</a>Menuju Home</p> -->
  </div>
  <!-- End Button Back -->
</ion-content>
