<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <div>Search</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> List User </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar color="white" placeholder="Search"></ion-searchbar>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          class="imageUser"
          alt="Silhouette of mountains"
          src="../../assets/image/download.jpg"
        />
      </ion-thumbnail>
      <ion-label>Furina</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-button expand="block" id="myfurina">Add Friend</ion-button>
            <ion-toast
              class="ion-text-center"
              position="top"
              color="primary"
              trigger="myfurina"
              message="Add Friend Furina Success"
              [duration]="5000"
            ></ion-toast
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          position="top"
          class="imageUser"
          alt="Silhouette of mountains"
          src="../../assets/image/1308221.jpg"
        />
      </ion-thumbnail>
      <ion-label>Hutao</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-button expand="block" id="hutao">Unfriend</ion-button>
            <ion-toast
              class="ion-text-center"
              position="top"
              color="danger"
              trigger="hutao"
              message="Unfriend Hutao Success"
              [duration]="5000"
            ></ion-toast
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img
          class="imageUser"
          alt="Silhouette of mountains"
          src="../../assets/image/desktop-wallpaper-genshin-impact-klee-klee.jpg"
        />
      </ion-thumbnail>
      <ion-label>Klee</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-button expand="block" id="Klee">Accept</ion-button>
            <ion-toast
              class="ion-text-center"
              position="top"
              color="success"
              trigger="Klee"
              message="Accept Klee Success"
              [duration]="5000"
            ></ion-toast
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img
          class="imageUser"
          alt="Silhouette of mountains"
          src="../../assets/image/1328869.jpeg"
        />
      </ion-thumbnail>
      <ion-label>Aether</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-button expand="block" id="Aether">Add Friend</ion-button>
            <ion-toast
              class="ion-text-center"
              position="top"
              color="primary"
              trigger="Aether"
              message="Add Friend Aether Success"
              [duration]="5000"
            ></ion-toast
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          class="imageUser"
          alt="Silhouette of mountains"
          src="../../assets/image/download.jpg"
        />
      </ion-thumbnail>
      <ion-label>Furina</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-button expand="block" id="myfurina">Add Friend</ion-button>
            <ion-toast
              class="ion-text-center"
              position="top"
              color="primary"
              trigger="myfurina"
              message="Add Friend Furina Success"
              [duration]="5000"
            ></ion-toast
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          class="imageUser"
          alt="Silhouette of mountains"
          src="../../assets/image/1328869.jpeg"
        />
      </ion-thumbnail>
      <ion-label>Aether</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col
            ><ion-button expand="block" id="Aether">Add Friend</ion-button>
            <ion-toast
              class="ion-text-center"
              position="top"
              color="primary"
              trigger="Aether"
              message="Add Friend Aether Success"
              [duration]="5000"
            ></ion-toast
          ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
